<%# <video-js id="audioOnly" data-video-id="4841158458001" data-account="1752604059001" data-player="rkgpS9K" data-embed="default" class="audio" controls style="width: 480px; height: 80px;"></video-js>
<script src="https://players.brightcove.net/1752604059001/rkgpS9K_default/index.min.js"\></script> %>


<audio id="player" src="/watson"></audio>
<div>
	<button onclick="document.getElementById('player').play()">Play</button>
	<button onclick="document.getElementById('player').pause()">Pause</button>
	<button onclick="document.getElementById('player').volume+=0.1">Volume Up</button>
	<button onclick="document.getElementById('player').volume-=0.1">Volume Down</button>
</div> 